table {
	border-collapse: collapse;
}

th, td, tr {
	border: 1px solid black;
	padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.profile-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
    z-index: 1000;
    background-size: cover;
    background-position: center;
}

.profile-button:hover {
    background-color: #2980b9;
}