<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="profile.css">
    <title>Musify - Profile</title>
    <style>
        table, th, tr, td {
            border-collapse: collapse;
            border: 1px solid;
            padding: 8px
        }

    </style>
</head>
<body>
    <h1>My Profile</h1>
    <p>Display Name: <%= user.display_name %></p>
    <p>Spotify ID: <%= user.spotify_id %></p>
    <script src = "profile.js"></script>

    <table id = "posts">
            <tr>
              <th>Spotify ID</th>
              <th>Post</th>
            </tr>
            <% for(const obj of userPosts.rows){ %>
            <tr>
            <% for(const key in obj) { %>
             <td><%= obj[key] %></td>
            <% } %>
            </tr>
           <% } %> 
    </table>
</body>
</html>